extends ../layout

block content
  include ../partials/nav
  .container
    include ../partials/flash

      div.row
        h1 Filter
      div.row.search-row
        div.col.col-12
          form.input-group.mb-3(id="search-form" action="/catalog/search" method="GET")
            div.input-group-prepend
              button.search-button(type="submit" id="search-button")
            input.form-control.search-box(type="text" placeholder="Search for a title, author, genre..." id="search-box" name="text" data-type= type)

      block list

  include ../partials/footer

  script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  script(src='/javascripts/admin.js')
