if messages.errors
  .alert.alert-danger.fade.show
    button.close(type='button', data-dismiss='alert')
    for error in messages.errors
      div= error.msg
if messages.info
  .alert.alert-info.fade.show
    button.close(type='button', data-dismiss='alert')
    for info in messages.info
      div= info.msg
if messages.success
  .alert.alert-success.fade.show
    button.close(type='button', data-dismiss='alert')
    for success in messages.success
      div= success.msg
