nav(class="navbar navbar-expand-lg navbar-light")
  a(class="navbar-brand" href="/") Bookstore
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse" id="navbarNav")
    ul(class="navbar-nav mr-auto")
      li.nav-item.nav-item-custom(class=(title === 'Catalog') ? 'active' : undefined)
        a(class="nav-link" href="/catalog") Catalog
      if admin === true
        li.nav-item.nav-item-custom(class=(title === 'Admin Home') ? 'active' : undefined)
          a(class="nav-link" href="/admin") Site Management
    if user === undefined
      ul.navbar-nav
        li.nav-item.nav-item-custom
          a(class="nav-link" href="/users/login") Login
        li.nav-item.nav-item-custom
          a(class="nav-link" href="/users/register") Register
    else
      ul.navbar-nav
        li.nav-item.nav-item-custom
          a(class='nav-link' href='/users/logout') Logout
        li.nav-item.nav-item-custom(class=(title === 'Account') ? 'active' : undefined)
          a(class='nav-link' href='/users/account') Account
        li.nav-item.nav-item-custom(class=(title === 'Cart') ? 'active' : undefined)
          a(class='nav-link' href='/purchase/cart') Cart