extends ../layout

block content
  include ../partials/nav
  .container
    include ../partials/flash
      div.card-columns
        each book in books
          div.card
            div.card-body
              h5.card-title= book['title']

      div.row
        div.col.justify-content-between
          button.btn Show more
