doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      include ../partials/flash

        form(id="forgot-pass" action="/users/forgot" method="POST")
          div.form-group
            label(for="email") Email Address
            input(type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter your email")