h1 {
    padding: 25px;
}

.search-box {
    margin: auto;
    padding: 0.5em;
    border-radius: 20px;
    border: solid thin lightgray;
    border-left:none;
    font-size: 11pt;
}

.search-box:focus {
    outline: none;
}

.search-box-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

.search-box:hover {
    background-color: #f0f0f0;
}

.search-icon {
    height: 20px;
}

.search-button {
    background-color: white;
    border: solid thin lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 11pt;
}

.search-results-container {
    z-index: 10;
    border-bottom: solid thin lightgray;
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -15px 15px 15px 15px;
}

.search-result {
    padding: 1em 2em;
}

.search-result:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.search-result:last-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

a.search-anchor {
    color: inherit;
}

a.search-anchor:hover {
    color: inherit;
    text-decoration: none;
}

.admin-link {

}

.admin-link:hover {
    background-color: lightgray;
    cursor: pointer;
}