extends ../../layout

block content
  include ../../partials/nav
  .container
    include ../../partials/flash

    div(id='update_form', data-type='author', data-uuid= uuid)
      each prop, index in author
        div.form-group
          label(for= index)= input_fields[index]
          input.form-control(type='text' value= prop placeholder= input_fields[index] name= index)

      button.btn.btn-primary(id='update_item') Submit


  include ../../partials/footer

  script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  script(src="/javascripts/admin.js")