extends ../../layout

block content
  include ../../partials/nav
  .container
    include ../../partials/flash

    div(id='update_form', data-type='auth_group', data-uuid= uuid)
      each prop, index in group
        if Array.isArray(prop)
          div.form-group
            label(for= index)= input_fields[index]
            ul.list-group(name= index)
              li.list-group-item
                input(type='checkbox', id='create_' + index, checked=(prop[0] === true) ? 'checked' : undefined)
                label(for='create_' + index) Create
              li.list-group-item
                input(type='checkbox', id='read_' + index, checked=(prop[1] === true) ? 'checked' : undefined)
                label(for= 'read_' + index) Read
              li.list-group-item
                input(type='checkbox', id='update_' + index, checked=(prop[2] === true) ? 'checked' : undefined)
                label(for= 'update_' + index) Edit
              li.list-group-item
                input(type='checkbox', id= 'delete_' + index, checked=(prop[3] === true) ? 'checked' : undefined)
                label(for= 'delete_' + index) Delete
        else
          div.form-group
            if (index === 'createdAt' || index === 'updatedAt')
              label(for= index)= input_fields[index]
              p= prop
            else
              label(for= index)= input_fields[index]
              input.form-control(type='text' value= prop placeholder= input_fields[index] name= index)

      button.btn.btn-primary(id='update_item') Submit


  include ../../partials/footer

  script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  script(src="/javascripts/admin.js")