extends detail

block detailContent
  ul.details
    each prop, index in book
      if prop !== null
        li= index + ':' + prop

  button.btn.btn-primary(id='add-to-cart' type='button') Add to cart
  input(type='hidden' id='uuid' value= book.uuid)