extends ../layout

block content
  include ../partials/nav
  .container
    include ../partials/flash

      each book in cart
        div.col
          p= book.data.title + ":" + book.qty

      if cart.length === 0
        div.col
          p Your shopping cart is empty!
      else
        div.row
          button.btn.btn-primary(onclick="location.href='/purchase/checkout'") Checkout

  include ../partials/footer

  script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  script(src="/javascripts/index.js")