extends ../layout

block content
  include ../partials/nav
  .container
    include ../partials/flash

      div.col
        form(id="checkout_form" action='' method="POST")
          h4 Shipping Address
          div.form-group
            label(for="shipping_first_name") First Name
            input(type="text" class="form-control" name="shipping_first_name")
          div.form-group
            label(for="shipping_last_name") Last Name
            input(type="text" class="form-control" name="shipping_last_name")
          div.form-group
            label(for="shipping_address_1") Address Line 1
            input(type="text" class="form-control" name="shipping_address_1")
          div.form-group
            label(for="shipping_address_2") Address Line 2
            input(type="text" class="form-control" name="shipping_address_2")
          div.form-group
            label(for="shipping_city") City
            input(type="text" class="form-control" name="shipping_city")
          div.form-group
            label(for="shipping_region") State/Province/region
            input(type='select' class="form-control" name='shipping_region')
          div.form-group
            label(for="shipping_zip") Zip Code
            input(type="numeric" class="form-control" name="shipping_zip")
          div.form-group
            label(for="shipping_phone") Phone Number
            input(type="numeric" class="form-control" name="shipping_phone")

          h4 Billing Address
          div.form-group.align-content-start
            label(for="billing_is_shipping") Same as shipping
            input(type="checkbox" class="form-control" name="billing_is_shipping")

          div.form-group
            label(for="billing_first_name") Name on card
            input(type="text" class="form-control" name="billing_name")
          div.form-group
            label(for="billing_address_1") Address Line 1
            input(type="text" class="form-control" name="billing_address_1")
          div.form-group
            label(for="billing_address_2") Address Line 2
            input(type="text" class="form-control" name="billing_address_2")
          div.form-group
            label(for="billing_city") City
            input(type="text" class="form-control" name="billing_city")
          div.form-group
            label(for="billing_region") State/Province/region
            input(type='select' class="form-control" name='billing_region')
          div.form-group
            label(for="billing_zip") Zip Code
            input(type="numeric" class="form-control" name="billing_zip")
          div.form-group
            label(for="billing_phone") Phone Number
            input(type="numeric" class="form-control" name="billing_phone")

          h4 Payment
          div.form-group
            label(for="card_number") Card Number
            input(type="numeric" class="form-control" name="card_number")
          div.form-group
            label(for="card_exp") Card Expiration
            input(type="numeric" class="form-control" name="card_exp" placeholder="MMYY")
          div.form-group
            label(for="security_code") Security Code
            input(type="numeric" class='form-control' name="security_code")

          input(type='hidden' value= cart name='cart')

          button.btn.btn-primary(id="submit_purchase" type="submit") Review Order