extends ../layout

block content
  include ../partials/nav
  .container
    include ../partials/flash

      form(id="confirm-order" action="" method="POST")
        input(type="hidden" value= order.uuid)
        button.btn.btn-primary(type="submit") Place Order